<header class="container mt-5">
    <div class="row">
        <div class="col-6 mt-5 ">
            <h5>MODERN INTERIOR</h5>
            <h1>Create Your Interior Design.</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
            veniam, quis nostrud exercitation.</p>
            <button class="btn">CONTACT</button>
        </div>

        <div class="col-6">
            <div class="img">
                <img [src]="image" alt="">
            </div>
        </div>
    </div>

    <div class="deco row mt-5">
        <img [src]="deco" alt="">
    </div>

    <section class=" container" >
        <div class="row-cols-12 service mt-4">
            <div class="col-12 d-flex align-items-center justify-content-between ">
                <div>
                    <h3>WHAT WE DO</h3>
                    <h2>Our Service</h2>
                </div>
                <div>
                    <svg xmlns="http://www.w3.org/2000/svg" width="98" height="50" viewBox="0 0 98 50" fill="none">
                        <g filter="url(#filter0_d_0_39)">
                          <ellipse cx="26" cy="21.5" rx="15" ry="14.5" fill="white"/>
                        </g>
                        <g filter="url(#filter1_d_0_39)">
                          <ellipse cx="74" cy="22.5" rx="15" ry="14.5" fill="#37806B"/>
                        </g>
                        <path d="M28 18L24 22L28 26" stroke="#646464" stroke-width="2"/>
                        <path d="M72 18L76 22.5L72 27" stroke="white" stroke-width="2"/>
                        <defs>
                    <filter id="filter0_d_0_39" x="0" y="0" width="50" height="49" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                      <feFlood flood-opacity="0" result="BackgroundImageFix"/>
                      <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
                      <feOffset dx="-1" dy="3"/>
                      <feGaussianBlur stdDeviation="5"/>
                      <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.3 0"/>
                      <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_0_39"/>
                      <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_0_39" result="shape"/>
                    </filter>
                    <filter id="filter1_d_0_39" x="48" y="1" width="50" height="49" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                      <feFlood flood-opacity="0" result="BackgroundImageFix"/>
                      <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
                      <feOffset dx="-1" dy="3"/>
                      <feGaussianBlur stdDeviation="5"/>
                      <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.3 0"/>
                      <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_0_39"/>
                      <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_0_39" result="shape"/>
                    </filter>
                    </defs>
                    </svg>
                </div>
            </div>
        </div>

        <div class="row justify-content-around">
            <div class="Design">
                <div class="d-flex align-items-center mt-0 " [style.margin-top.px]="30"[style.margin-left.px]="10">
                    <img [src]="logo1" alt="">
                    <h1>Interior Design</h1>
                </div>
                <p>Lorem ipsum dolor amet consectetur
                    adipiscing elit sed eiusmod tempor
                    incididunt ut labore.</p>
            </div>

            <div style="background: #CAA892;" class="Design">
                <div class="d-flex align-items-center mt-0 " [style.margin-top.px]="30"[style.margin-left.px]="10">
                    <img [src]="logo3" alt="">
                    <h1>Interior Design</h1>
                </div>
                <p>Lorem ipsum dolor amet consectetur
                    adipiscing elit sed eiusmod tempor
                    incididunt ut labore.</p>
            </div>

            <div class="Design">
                <div class="d-flex align-items-center mt-0 " [style.margin-top.px]="30"[style.margin-left.px]="10">
                    <img [src]="logo2" alt="">
                    <h1>Interior Design</h1>
                </div>
                <p>Lorem ipsum dolor amet consectetur
                    adipiscing elit sed eiusmod tempor
                    incididunt ut labore.</p>
            </div>
        </div>
    </section>
</header>
